.header {
    background-color: $primary_color;
    height: clamp(3.75rem, 3.5375rem + 1.0625vw, 4.8125rem);
    padding: 0px clamp(0.5rem, 0.25rem + 1.25vw, 1.75rem);
    color: $white_color;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    @include flex(flex-start, center);

    .logo {
        width: clamp(6.25rem, 5.75rem + 2.5vw, 8.75rem);
        height: auto;

        @media (width < 992px) {
            margin-top: -4px;
        }
    }

    .mobile_menu {
        display: none;

        @media (width < 992px) {
            @include flex(flex-start, center, 10px);
        }
    }

    .header_extras {
        margin-left: auto;
        @include flex(flex-end, center, 16px);
    }
}
