@mixin flex($justify: center, $align: center, $gap: 0, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin text-ellipsis($max-width: 100%, $lines: 1) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    max-width: $max-width;
}
