.new_clean_up_event {
    .row {
        --bs-gutter-x: 36px;
        --bs-gutter-y: 28px;
    }

    .description {
        height: 120px;
    }

    .form_inner_btn {
        margin-top: -75px;
    }

    .form_outer_btn {
        margin-top: 110px;
    }
}
