.header_profile {
    margin-left: clamp(0rem, -0.125rem + 0.625vw, 0.625rem);

    .profile {
        padding: 8px 14px 10px 14px;
        border-radius: 5px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        @media (width < 992px) {
            padding: 0px;

            &:hover {
                background: unset;
            }
        }

        .user_image {
            height: clamp(2rem, 1.9625rem + 0.1875vw, 2.1875rem);
            width: clamp(2rem, 1.9625rem + 0.1875vw, 2.1875rem);
            border-radius: 100px;
            border: 2px solid $white_color;
            margin-right: 10px;
            position: relative;

            @media (width < 575px) {
                margin-right: 8px;
            }

            img {
                border-radius: 100%;
            }

            .rotate {
                transform: rotate(180deg);
                background-color: red;
            }

            &::before {
                position: absolute;
                content: "";
                bottom: -4px;
                left: -4px;
                background-color: $success_color;
                height: 13px;
                width: 13px;
                border-radius: 100%;
                border: 3px solid $primary_color;
            }
        }

        .user_name {
            color: #fff;
            font-family: var(--font-sarabun);
            font-size: $font_sm;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
}
